@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(184, 24, 24);
  color: rgb(38, 4, 58);
  text-align: center;
  margin-top: 100px;
}